@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1, p{
	font-family: Inter;
	color: #FFF9F1;
}

body{
	background-color: #19060B;
}


